doctype html
html
  head
    include includes/head.pug
    title= projectName    
  body    
    div.container
      div
        h1.text-primary= "Issues in /" + projectName
        a(href=`/${projectName}/issues/new`)
          input(class="btn btn-success" type="button", value="New Issue")
      div.Box.mt-3
        if issues
          each issue in issues
            div.d-flex.Box-row.p0-mt-0
              div.flex-shrink-0.pt-2.pl-3
                if issue.open                  
                  img(width="24", height="24", src="/svg/issue-opened.svg", alt="Issue opened icon")                   
                else                   
                  img(width="24", height="24", src="/svg/issue-closed.svg", alt="Issue closed icon")
              div.flex-auto.min-width-0.p-2.pr-3.pr-md-2            
                h4.d-inline-block.text-dark= issue.issue_title
                if issue.status_text
                  |                   
                  span.badge.badge-pill.badge-info.StatusLabel=`status: ${issue.status_text}`  
                if issue.assigned_to
                  |                   
                  span.badge.badge-pill.badge-info.AssignedLabel=`assigned: ${issue.assigned_to}`  
                div.d-block
                  p= issue.issue_text
                div.d-flex.justify-content-between.align-items-end
                  div.mt-1.text-small.text-grey
                    if issue.open
                      span= `opened ${issue.created_on} by ${issue.created_by}`
                    else
                      span= `by ${issue.created_by} was closed ${issue.closed_on}`
                    if issue.updated_on
                      span= `, updated ${issue.updated_on}`                                    
                  div.buttons
                    a.btn.btn-primary(role="button", href=`/${projectName}/issues/edit?issueId=${issue._id}`) Edit
                    a.btn.btn-danger(role="button", href=`/${projectName}/issues/delete?issueId=${issue._id}`) Delete
                    
                
                
        else
          div
            h3 There's no issues in this project
    include includes/foot.pug