<%- include('partials/header'); -%>

<h1>Aqui estaran los issues de acuerdo al nombre del proyecto</h1>
<h1>All Issues for: <%= projectName %></h1>

<div class="issues">
  <% issues.forEach(issue => { %>
  <h3>id: <%= issue._id %></h3>
  <h3><%= issue.issue_title %></h3>
  <p><%= issue.issue_text %></p>
  <p><%= issue.created_by %></p>
  <p><%= issue.created_on %></p>
  <% }) %>
</div>

<%- include('partials/footer'); -%>
