doctype html
html
  head
    include includes/head.pug
    title= projectName    
  body    
    div.container
      div
        a.h1.text-primary.d-block(href=`/${projectName}/issues`)="Issues in /" + projectName        
        a(href=`/${projectName}/issues/new`)
          input(class="btn btn-success" type="button", value="New Issue")
      form(class="form-inline", action=`/${projectName}/issues`, method="get")
        div.form-group
          label(class="sr-only", for="author") author
          div.input-group
            div.input-group-prepend 
              span.input-group-text filter
            input(class="form-control", type="search", name="author", placeholder="author")        
        div.form-group
          label(class="sr-only", for="assigned") assigned
          input(class="form-control", type="search", name="assigned", placeholder="assigned")        
        div.form-group
          label(class="sr-only", for="status") status
          input(class="form-control", type="search", name="status", placeholder="status")
        div.form-group
          label(class="sr-only", for="open") open
          select(class="form-control" name="open")
            option(value, selected, disabled) -select-
            option(value="true") opened
            option(value="false") closed
        div.form-group
          label(class="sr-only", for="sort") sort
          select(class="form-control" name="sort")
            option(value, selected, disabled) -sort-
            option(value="created_on:asc") oldest
            option(value="created_on:desc") newest            
            option(value="updated_on:asc") least recently updated
            option(value="updated_on:desc") recently updated            
        input(class="btn btn-primary" type="submit" value="Search")  
      div.Box.mt-3
        if issues
          each issue in issues
            div.d-flex.Box-row.p0-mt-0
              div.flex-shrink-0.pt-2.pl-3
                if issue.open                  
                  img(width="24", height="24", src="/svg/issue-opened.svg", alt="Issue opened icon")                   
                else                   
                  img(width="24", height="24", src="/svg/issue-closed.svg", alt="Issue closed icon")
              div.flex-auto.min-width-0.p-2.pr-3.pr-md-2            
                h4.d-inline-block.text-dark= issue.issue_title
                if issue.status_text
                  |                   
                  span.badge.badge-pill.badge-info.StatusLabel=`status: ${issue.status_text}`  
                if issue.assigned_to
                  |                   
                  span.badge.badge-pill.badge-info.AssignedLabel=`assigned: ${issue.assigned_to}`  
                div.d-block
                  p= issue.issue_text
                div.d-flex.justify-content-between.align-items-end
                  div.mt-1.text-small.text-grey
                    if issue.open
                      span= `opened ${issue.created_on} by ${issue.created_by}`
                    else
                      span= `by ${issue.created_by} was closed ${issue.closed_on}`
                    if issue.updated_on
                      span= `, updated ${issue.updated_on}`                                    
                  div.buttons
                    a.btn.btn-primary(role="button", href=`/${projectName}/issues/edit?issueId=${issue._id}`) Edit
                    a.btn.btn-danger(role="button", href=`/${projectName}/issues/delete?issueId=${issue._id}`) Delete
        else
          div
            h3 There's no issues in this project
    include includes/foot.pug